K Means Clustering Project (Universities classification - Private vs Public)

In [20]:
from google.colab import files
upload = files.upload()

Saving data.csv to data.csv

In [21]:
import pandas as pd

df = pd.read_csv("data.csv")
df.head()

,private,apps,accept,enroll,top10perc,top25perc,f_undergrad,p_undergrad,outstate,room_board,books,personal,phd,terminal,s_f_ratio,perc_alumni,expend,grad_rate
0,Yes,1660,1232,721,23,52,2885,537,7440,3300,450,2200,70,78,18.1,12,7041,60
1,Yes,2186,1924,512,16,29,2683,1227,12280,6450,750,1500,29,30,12.2,16,10527,56
2,Yes,1428,1097,336,22,50,1036,99,11250,3750,400,1165,53,66,12.9,30,8735,54
3,Yes,417,349,137,60,89,510,63,12960,5450,450,875,92,97,7.7,37,19016,59
4,Yes,193,146,55,16,44,249,869,7560,4120,800,1500,76,72,11.9,2,10922,15

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 777 entries, 0 to 776
Data columns (total 18 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   private      777 non-null    object
 1   apps         777 non-null    int64
 2   accept       777 non-null    int64
 3   enroll       777 non-null    int64
 4   top10perc    777 non-null    int64
 5   top25perc    777 non-null    int64
 6   f_undergrad  777 non-null    int64
 7   p_undergrad  777 non-null    int64
 8   outstate     777 non-null    int64
 9   room_board   777 non-null    int64
 10  books        777 non-null    int64
 11  personal     777 non-null    int64
 12  phd          777 non-null    int64
 13  terminal     777 non-null    int64
 14  s_f_ratio    777 non-null    float64
 15  perc_alumni  777 non-null    int64
 16  expend       777 non-null    int64
 17  grad_rate    777 non-null    int64
dtypes: float64(1), int64(16), object(1)
memory usage: 109.4+ KB

In [23]:
df.describe()

,apps,accept,enroll,top10perc,top25perc,f_undergrad,p_undergrad,outstate,room_board,books,personal,phd,terminal,s_f_ratio,perc_alumni,expend,grad_rate
count,777.000000,777.000000,777.000000,777.000000,777.000000,777.000000,777.000000,777.000000,777.000000,777.000000,777.000000,777.000000,777.000000,777.000000,777.000000,777.000000,777.00000
mean,3001.638353,2018.804376,779.972973,27.558559,55.796654,3699.907336,855.298584,10440.669241,4357.526384,549.380952,1340.642214,72.660232,79.702703,14.089704,22.743887,9660.171171,65.46332
std,3870.201484,2451.113971,929.176190,17.640364,19.804778,4850.420531,1522.431887,4023.016484,1096.696416,165.105360,677.071454,16.328155,14.722359,3.958349,12.391801,5221.768440,17.17771
min,81.000000,72.000000,35.000000,1.000000,9.000000,139.000000,1.000000,2340.000000,1780.000000,96.000000,250.000000,8.000000,24.000000,2.500000,0.000000,3186.000000,10.00000
25%,776.000000,604.000000,242.000000,15.000000,41.000000,992.000000,95.000000,7320.000000,3597.000000,470.000000,850.000000,62.000000,71.000000,11.500000,13.000000,6751.000000,53.00000
50%,1558.000000,1110.000000,434.000000,23.000000,54.000000,1707.000000,353.000000,9990.000000,4200.000000,500.000000,1200.000000,75.000000,82.000000,13.600000,21.000000,8377.000000,65.00000
75%,3624.000000,2424.000000,902.000000,35.000000,69.000000,4005.000000,967.000000,12925.000000,5050.000000,600.000000,1700.000000,85.000000,92.000000,16.500000,31.000000,10830.000000,78.00000
max,48094.000000,26330.000000,6392.000000,96.000000,100.000000,31643.000000,21836.000000,21700.000000,8124.000000,2340.000000,6800.000000,103.000000,100.000000,39.800000,64.000000,56233.000000,118.00000

In [25]:
df[df['grad_rate']>100]

,private,apps,accept,enroll,top10perc,top25perc,f_undergrad,p_undergrad,outstate,room_board,books,personal,phd,terminal,s_f_ratio,perc_alumni,expend,grad_rate
95,Yes,3847,3433,527,9,35,1010,12,9384,4840,600,500,22,47,14.3,20,7697,118

In [26]:
df['grad_rate'] = 100

In [28]:
df[df['grad_rate']>100]

Empty DataFrame
Columns: [private, apps, accept, enroll, top10perc, top25perc, f_undergrad, p_undergrad, outstate, room_board, books, personal, phd, terminal, s_f_ratio, perc_alumni, expend, grad_rate]
Index: []

In [29]:
from sklearn.cluster import KMeans

In [30]:
kmeans = KMeans(n_clusters=2)

In [31]:
kmeans.fit(df.drop('private', axis=1))
print(kmeans.cluster_centers_)
Cluster_predict = kmeans.predict(df.drop('private', axis=1))
df['Cluster_predict'] = Cluster_predict

df.head(50)

[[1.00549109e+04 6.73820792e+03 2.74102970e+03 3.29702970e+01
  6.39009901e+01 1.42840297e+04 2.94107921e+03 8.58346535e+03
  4.21270297e+03 5.83079208e+02 1.85466337e+03 8.35940594e+01
  8.90990099e+01 1.61673267e+01 1.62970297e+01 9.95570297e+03
  1.00000000e+02]
 [1.94782101e+03 1.31368639e+03 4.86974852e+02 2.67500000e+01
  5.45857988e+01 2.11855178e+03 5.43665680e+02 1.07181509e+04
  4.37916420e+03 5.44346154e+02 1.26384320e+03 7.10266272e+01
  7.82988166e+01 1.37792899e+01 2.37071006e+01 9.61601627e+03
  1.00000000e+02]]

,private,apps,accept,enroll,top10perc,top25perc,f_undergrad,p_undergrad,outstate,room_board,books,personal,phd,terminal,s_f_ratio,perc_alumni,expend,grad_rate,Cluster_predict
0,Yes,1660,1232,721,23,52,2885,537,7440,3300,450,2200,70,78,18.1,12,7041,100,1
1,Yes,2186,1924,512,16,29,2683,1227,12280,6450,750,1500,29,30,12.2,16,10527,100,1
2,Yes,1428,1097,336,22,50,1036,99,11250,3750,400,1165,53,66,12.9,30,8735,100,1
3,Yes,417,349,137,60,89,510,63,12960,5450,450,875,92,97,7.7,37,19016,100,1
4,Yes,193,146,55,16,44,249,869,7560,4120,800,1500,76,72,11.9,2,10922,100,1
5,Yes,587,479,158,38,62,678,41,13500,3335,500,675,67,73,9.4,11,9727,100,1
6,Yes,353,340,103,17,45,416,230,13290,5720,500,1500,90,93,11.5,26,8861,100,1
7,Yes,1899,1720,489,37,68,1594,32,13868,4826,450,850,89,100,13.7,37,11487,100,1
8,Yes,1038,839,227,30,63,973,306,15595,4400,300,500,79,84,11.3,23,11644,100,1
9,Yes,582,498,172,21,44,799,78,10468,3380,660,1800,40,41,11.5,15,8991,100,1
10,Yes,1732,1425,472,37,75,1830,110,16548,5406,500,600,82,88,11.3,31,10932,100,1
11,Yes,2652,1900,484,44,77,1707,44,17080,4440,400,600,73,91,9.9,41,11711,100,1
12,Yes,1179,780,290,38,64,1130,638,9690,4785,600,1000,60,84,13.3,21,7940,100,1
13,Yes,1267,1080,385,44,73,1306,28,12572,4552,400,400,79,87,15.3,32,9305,100,1
14,Yes,494,313,157,23,46,1317,1235,8352,3640,650,2449,36,69,11.1,26,8127,100,1
15,Yes,1420,1093,220,9,22,1018,287,8700,4780,450,1400,78,84,14.7,19,7355,100,1
16,Yes,4302,992,418,83,96,1593,5,19760,5300,660,1598,93,98,8.4,63,21424,100,1
17,Yes,1216,908,423,19,40,1819,281,10100,3520,550,1100,48,61,12.1,14,7994,100,1
18,Yes,1130,704,322,14,23,1586,326,9996,3090,900,1320,62,66,11.5,18,10908,100,1
19,No,3540,2001,1016,24,54,4190,1512,5130,3592,500,2000,60,62,23.1,5,4010,100,1
20,Yes,713,661,252,25,44,712,23,15476,3336,400,1100,69,82,11.3,35,42926,100,1
21,No,7313,4664,1910,20,63,9940,1035,6806,2540,96,2000,83,96,18.3,14,5854,100,0
22,Yes,619,516,219,20,51,1251,767,11208,4124,350,1615,55,65,12.7,25,6584,100,1
23,No,12809,10308,3761,24,49,22593,7585,7434,4850,700,2100,88,93,18.9,5,4602,100,0
24,Yes,708,334,166,46,74,530,182,8644,3922,500,800,79,88,12.6,24,14579,100,1
25,No,1734,1729,951,12,52,3602,939,3460,2650,450,1000,57,60,19.6,5,4739,100,1
26,Yes,2135,1700,491,23,59,1708,689,12000,5920,500,500,93,93,13.8,30,7100,100,1
27,No,7548,6791,3070,25,57,16262,1716,6300,3933,600,1908,85,91,16.7,18,6642,100,0
28,Yes,662,513,257,12,30,2074,726,11902,4372,540,950,65,65,12.8,31,7836,100,1
29,Yes,1879,1658,497,36,69,1950,38,13353,4173,540,821,78,83,12.7,40,9220,100,1
30,Yes,761,725,306,21,58,1337,300,10990,3244,600,1021,66,70,10.4,30,6871,100,1
31,Yes,948,798,295,42,74,1120,15,11280,4342,400,1150,81,95,13.0,33,11361,100,1
32,Yes,627,556,172,16,40,777,538,9925,4135,750,1350,59,67,22.4,11,6523,100,1
33,Yes,602,483,206,21,47,958,466,8620,4100,400,2250,58,68,11.0,21,6136,100,1
34,Yes,1690,1366,662,30,61,2718,1460,10995,4410,1000,1000,68,74,17.6,20,8086,100,1
35,Yes,261,192,111,15,36,453,266,9690,4300,500,500,57,77,9.7,35,9337,100,1
36,Yes,1910,838,285,50,85,1004,15,19264,6206,750,750,98,98,10.4,30,13894,100,1
37,Yes,2496,1402,531,53,95,2121,69,17926,8124,600,850,83,93,10.3,33,12580,100,1
38,Yes,990,784,279,18,45,1811,3144,11290,5360,600,1800,76,78,12.6,11,9084,100,1
39,Yes,6075,5349,2367,34,66,9919,484,6450,3920,600,1346,71,76,18.5,38,7503,100,0
40,Yes,1163,850,348,23,56,878,519,12850,5400,400,800,78,89,12.2,30,8954,100,1
41,Yes,807,707,308,39,63,1198,605,8840,2950,750,1290,74,82,13.1,31,6668,100,1
42,Yes,632,494,129,17,36,709,131,9000,4850,300,2480,78,85,13.2,10,7550,100,1
43,Yes,1220,974,481,28,67,1964,623,7800,3664,650,900,61,61,11.1,19,7614,100,1
44,Yes,1320,923,284,26,54,1085,81,16304,3616,355,715,87,95,11.1,26,12957,100,1
45,No,1208,877,546,12,36,3796,824,4425,2700,660,1800,57,62,19.6,16,3752,100,1
46,Yes,632,620,222,14,24,702,501,9550,3850,350,250,64,84,14.1,18,5922,100,1
47,Yes,519,327,114,25,53,457,2,21700,4100,600,500,35,59,10.1,33,16364,100,1
48,Yes,3466,2330,640,20,60,3095,1533,13800,5510,630,850,87,87,17.5,20,10941,100,1
49,Yes,1858,1221,480,37,68,1620,49,8050,3940,350,2375,80,80,16.3,17,10511,100,1

In [32]:
def convert_to_binary(cluster):
  if cluster == 'Yes':
    return 1
  else:
    return 0

In [41]:
df['Cluster_actual'] = df['private'].apply(convert_to_binary)

In [42]:
df.head(50)

,private,apps,accept,enroll,top10perc,top25perc,f_undergrad,p_undergrad,outstate,room_board,books,personal,phd,terminal,s_f_ratio,perc_alumni,expend,grad_rate,Cluster_predict,Cluster_actual
0,Yes,1660,1232,721,23,52,2885,537,7440,3300,450,2200,70,78,18.1,12,7041,100,1,1
1,Yes,2186,1924,512,16,29,2683,1227,12280,6450,750,1500,29,30,12.2,16,10527,100,1,1
2,Yes,1428,1097,336,22,50,1036,99,11250,3750,400,1165,53,66,12.9,30,8735,100,1,1
3,Yes,417,349,137,60,89,510,63,12960,5450,450,875,92,97,7.7,37,19016,100,1,1
4,Yes,193,146,55,16,44,249,869,7560,4120,800,1500,76,72,11.9,2,10922,100,1,1
5,Yes,587,479,158,38,62,678,41,13500,3335,500,675,67,73,9.4,11,9727,100,1,1
6,Yes,353,340,103,17,45,416,230,13290,5720,500,1500,90,93,11.5,26,8861,100,1,1
7,Yes,1899,1720,489,37,68,1594,32,13868,4826,450,850,89,100,13.7,37,11487,100,1,1
8,Yes,1038,839,227,30,63,973,306,15595,4400,300,500,79,84,11.3,23,11644,100,1,1
9,Yes,582,498,172,21,44,799,78,10468,3380,660,1800,40,41,11.5,15,8991,100,1,1
10,Yes,1732,1425,472,37,75,1830,110,16548,5406,500,600,82,88,11.3,31,10932,100,1,1
11,Yes,2652,1900,484,44,77,1707,44,17080,4440,400,600,73,91,9.9,41,11711,100,1,1
12,Yes,1179,780,290,38,64,1130,638,9690,4785,600,1000,60,84,13.3,21,7940,100,1,1
13,Yes,1267,1080,385,44,73,1306,28,12572,4552,400,400,79,87,15.3,32,9305,100,1,1
14,Yes,494,313,157,23,46,1317,1235,8352,3640,650,2449,36,69,11.1,26,8127,100,1,1
15,Yes,1420,1093,220,9,22,1018,287,8700,4780,450,1400,78,84,14.7,19,7355,100,1,1
16,Yes,4302,992,418,83,96,1593,5,19760,5300,660,1598,93,98,8.4,63,21424,100,1,1
17,Yes,1216,908,423,19,40,1819,281,10100,3520,550,1100,48,61,12.1,14,7994,100,1,1
18,Yes,1130,704,322,14,23,1586,326,9996,3090,900,1320,62,66,11.5,18,10908,100,1,1
19,No,3540,2001,1016,24,54,4190,1512,5130,3592,500,2000,60,62,23.1,5,4010,100,1,0
20,Yes,713,661,252,25,44,712,23,15476,3336,400,1100,69,82,11.3,35,42926,100,1,1
21,No,7313,4664,1910,20,63,9940,1035,6806,2540,96,2000,83,96,18.3,14,5854,100,0,0
22,Yes,619,516,219,20,51,1251,767,11208,4124,350,1615,55,65,12.7,25,6584,100,1,1
23,No,12809,10308,3761,24,49,22593,7585,7434,4850,700,2100,88,93,18.9,5,4602,100,0,0
24,Yes,708,334,166,46,74,530,182,8644,3922,500,800,79,88,12.6,24,14579,100,1,1
25,No,1734,1729,951,12,52,3602,939,3460,2650,450,1000,57,60,19.6,5,4739,100,1,0
26,Yes,2135,1700,491,23,59,1708,689,12000,5920,500,500,93,93,13.8,30,7100,100,1,1
27,No,7548,6791,3070,25,57,16262,1716,6300,3933,600,1908,85,91,16.7,18,6642,100,0,0
28,Yes,662,513,257,12,30,2074,726,11902,4372,540,950,65,65,12.8,31,7836,100,1,1
29,Yes,1879,1658,497,36,69,1950,38,13353,4173,540,821,78,83,12.7,40,9220,100,1,1
30,Yes,761,725,306,21,58,1337,300,10990,3244,600,1021,66,70,10.4,30,6871,100,1,1
31,Yes,948,798,295,42,74,1120,15,11280,4342,400,1150,81,95,13.0,33,11361,100,1,1
32,Yes,627,556,172,16,40,777,538,9925,4135,750,1350,59,67,22.4,11,6523,100,1,1
33,Yes,602,483,206,21,47,958,466,8620,4100,400,2250,58,68,11.0,21,6136,100,1,1
34,Yes,1690,1366,662,30,61,2718,1460,10995,4410,1000,1000,68,74,17.6,20,8086,100,1,1
35,Yes,261,192,111,15,36,453,266,9690,4300,500,500,57,77,9.7,35,9337,100,1,1
36,Yes,1910,838,285,50,85,1004,15,19264,6206,750,750,98,98,10.4,30,13894,100,1,1
37,Yes,2496,1402,531,53,95,2121,69,17926,8124,600,850,83,93,10.3,33,12580,100,1,1
38,Yes,990,784,279,18,45,1811,3144,11290,5360,600,1800,76,78,12.6,11,9084,100,1,1
39,Yes,6075,5349,2367,34,66,9919,484,6450,3920,600,1346,71,76,18.5,38,7503,100,0,1
40,Yes,1163,850,348,23,56,878,519,12850,5400,400,800,78,89,12.2,30,8954,100,1,1
41,Yes,807,707,308,39,63,1198,605,8840,2950,750,1290,74,82,13.1,31,6668,100,1,1
42,Yes,632,494,129,17,36,709,131,9000,4850,300,2480,78,85,13.2,10,7550,100,1,1
43,Yes,1220,974,481,28,67,1964,623,7800,3664,650,900,61,61,11.1,19,7614,100,1,1
44,Yes,1320,923,284,26,54,1085,81,16304,3616,355,715,87,95,11.1,26,12957,100,1,1
45,No,1208,877,546,12,36,3796,824,4425,2700,660,1800,57,62,19.6,16,3752,100,1,0
46,Yes,632,620,222,14,24,702,501,9550,3850,350,250,64,84,14.1,18,5922,100,1,1
47,Yes,519,327,114,25,53,457,2,21700,4100,600,500,35,59,10.1,33,16364,100,1,1
48,Yes,3466,2330,640,20,60,3095,1533,13800,5510,630,850,87,87,17.5,20,10941,100,1,1
49,Yes,1858,1221,480,37,68,1620,49,8050,3940,350,2375,80,80,16.3,17,10511,100,1,1

In [43]:
from sklearn.metrics import confusion_matrix

In [45]:
print(confusion_matrix(df['Cluster_actual'], kmeans.labels_))

[[ 89 123]
 [ 12 553]]